@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    scrollbar-color: theme("colors.zinc.600") theme("colors.zinc.800") !important;
    scrollbar-width: thin !important;
}

*::-webkit-scrollbar { margin-inline-start: 0.25em; width: 10px; height: 10px; margin: auto 2px; border-radius: 2px; box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.01); }
*::-webkit-scrollbar-track { background-color: theme("colors.zinc.800"); border-radius: 2px; box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.01); }
/* *::-webkit-scrollbar-track-piece { background-color: theme("colors.zinc.800"); border-radius: 2px; } */
*::-webkit-scrollbar-thumb { background: theme("colors.zinc.600"); border-radius: 2px; box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1); }

/* @font-face { font-family: "Inter"; src: local('Inter'), url("../fonts/Inter.ttf"); font-display: swap; }
@font-face { font-family: "Poppins"; src: local('Poppins'), url("../fonts/Poppins.ttf"); font-display: swap; } */
@font-face { font-family: "IranyekanRegular"; src: local('Roboto'), url("../fonts/iranyekanwebregular.woff2"); font-display: swap; }
@font-face { font-family: "IranyekanBold"; src: local('Roboto'), url("../fonts/iranyekanwebbold.woff2"); font-display: swap; }

*,html {  scroll-behavior: smooth; }

body {
    font-family: "Poppins", "Inter", "IranyekanRegular";
    display: flex; flex-direction: column;
    margin: 0; padding: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

.f-inter { font-family: "Inter" !important; }
.f-poppins { font-family: "Poppins" !important; }
.f-iranyekan-regular { font-family: "IranyekanRegular" !important; }
.f-iranyekan-bold { font-family: "IranyekanBold" !important; }

.z-1 { z-index: 1; }
.z-2 { z-index: 2; }
.z-3 { z-index: 3; }
.z-4 { z-index: 4; }
.z-5 { z-index: 5; }

.mis-auto { margin-inline-start: auto; }
.mie-auto { margin-inline-end: auto; }

.gradient { background-image: linear-gradient(90deg, theme("colors.baby-blue") 0%, theme("colors.violet") 100%); }
.gradient-re { background-image: linear-gradient(90deg, theme("colors.violet") 0%, theme("colors.baby-blue") 100%); }

.page-enter-from { opacity: 0; transform: translateY(-10px); }
.page-enter-active, .page-leave-active { transition: all 0.2s; }
.page-enter, .page-leave-to { opacity: 0; }

.slide-up-enter-active { transition: all 0.2s ease; }
.slide-up-leave-active { transition: all 0.2s ease; }
.slide-up-enter-from, .slide-up-leave-to { transform: translateY(-100%); }

.slide-left-enter-active { transition: all 0.2s ease; }
.slide-left-leave-active { transition: all 0.2s ease; }
.slide-left-enter-from, .slide-left-leave-to { transform: translateX(-100%); }

.fade-enter-active { transition: all 0.2s ease; }
.fade-leave-active { transition: all 0.2s ease; }
.fade-enter-from, .fade-leave-to { opacity: 0; }

/* ===================================================================== */

.down-pop {
    animation: down-pop 1s ease-out infinite;
}
@keyframes down-pop {
    0% { transform: translateY(0); }
    50% { transform: translateY(15%); }
    100% { transform: translateY(0); }
}